<div>
{{#each wish}}
<ul> {{id}}.
  <form action="/update/{{id}}" method="post">
    <input type='text' placeholder={{item}} name='update'></input>.  <a href="delete/{{id}}">Delete</a>
    <button type='submit'>Update</button>
  </form>
</ul>
{{/each}}
<form action='/' method="post">
  <textarea name='wishData' rows='3' cols='15'></textarea>
  <button type='submit'>Save Wish</button>
</form>
</div>
